// autoprefixer: true
@font-face {
    font-family: brownbold;
    src: url(/fonts/brown-bold.ttf)
}
@font-face {
    font-family: brownlight;
    src: url(/fonts/brownlight-regular.ttf)
}

body {
    background-color: #172327;
    margin: 0;
}

h1 {
    color: white;
	font-size: 2em;
    font-family: brownbold;
	letter-spacing: 2px;
    text-transform: uppercase;
}

h4 {
    font-size: 1.3em;
    font-family: brownlight;
    letter-spacing: 1.5px;
    line-height: 120%;
    font-weight: 200;
    color: white;
}

p {
	font-size: 1.2em;
	font-family: bownlight;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: brownbold;
    font-size: 1em;
    color: lightgrey;;
    transition: color 0.5s ease;
}

a:hover {
    color: deepskyblue;
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    a {
        font-size: 1.5em;
        top: 0;
        right: 0;
        z-index: 1;
        position: fixed;
        padding-right: 15px;
        padding-top: 10px;
    }
}

.outer-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    
    .container {
        background-color: #172327;
        flex: 1;
        width: 45%;
        padding: 60px;
    }

    .image-container {
        flex: 1;
        width: 50%;
        padding-bottom: 10px;
        
        img {
            width: 100%;
        }
    }
}

.nav {
    width: 20px;
    height: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    
    img {
        width: 100%;
    }
    
    &.next {
        top: 0;
        right: 0;
        padding-right: 5px;
    }
    
    &.previous {
        top: 0;
        left: 0;
        padding-left: 5px;
    }
}

@media only screen 
  and (max-width: 900px) {
      .outer-container {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .container {
              width:100%;
          }
          
          .image-container {
              width:100%;
              text-align: center;
          }
      }
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
    opacity:0; 
    animation:fadeIn ease-in 1;
    animation-fill-mode:forwards;
    animation-duration: 1s;
}

.fade-in.one {
    animation-delay: 0.3s;
}

.fade-in.two {
    animation-delay: 0.5s;
}

.fade-in.three {
    animation-delay: 0.7s;
}

.fade-in.four {
    animation-delay: 0.9s;
}

.fade-in.five {
    animation-delay: 1s;
}
