@font-face {
    font-family: BebasNeueBold;
    src: url('../fonts/BebasNeue Bold.otf');
}

@font-face {
    font-family: BebasNeueBook;
    src: url('../fonts/BebasNeue Book.otf');
}

@font-face {
    font-family: BebasNeueLight;
    src: url('../fonts/BebasNeue Light.otf');
}

@font-face {
    font-family: BebasNeueRegular;
    src: url('../fonts/BebasNeue Regular.otf');
}

@font-face {
    font-family: BebasNeueThin;
    src: url('../fonts/BebasNeue Thin.otf');
}

@font-face {
    font-family: MyriadPro;
    src: url('../fonts/MyriadPro-Regular.otf');
}

body {
    margin: 0;
    font:normal 75% Arial, Helvetica, sans-serif;
}

.container {
    height: 100%;
    display: block;
}

.clear {
    padding: 2.875em 1.875em 1.875em;
    position: absolute;
    z-index: 1000;
    top: 50%;
    width: 600px;
    height: 300px;
    left: 50%;
    margin-top: -150px;
    margin-left: -300px;
    text-align: center;
}

.clear.grey {
    background-color: white;
    height: 60%;
    top: 40%;
}

h1 {
    color: white;
    font-family: BebasNeueLight;
    font-size: 10em;
    line-height: 1;
    margin: 0;
    font-weight: 400;
}

h2 {
    color: #6e6e6e;
    font-family: BebasNeueRegular;
    font-size: 4em;
    line-height: 2;
    margin: 0;
    font-weight: 200;
    opacity: 0.6;
    letter-spacing: 1px;
}

hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 8px auto;
    height: 0;
    width: 80%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
}  

.intro {
    color: white;
    font-family: BebasNeueRegular;
    font-size: 2.25em;
    line-height: 2;
    margin: 0;
    font-weight: 200;
    opacity: 0.6;
    letter-spacing: 1px;
}

.section-1 {
    width: 100%;
    height: 97vh;
    position: relative;
}

.social {
    padding-right: 50px;   
}

.social a {
    opacity: 0.3;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.social a:hover {
    opacity: 0.8;
}

.social li {
    display: inline;
    margin: 10px;
    color: #ffffff;
}

.social li img {
    width: 50px;
}

.section-2 {
    width: 100%;
    height: 97vh;
    position: relative;
    background-color: #c0c0c0;
}

.section-3 {
    width: 100%;
    height: 97vh;
    position: relative;
}

/* ---- fade in animation ---- */

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
    opacity:0; 
    -webkit-animation:fadeIn ease-in 1;  
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration: 0.9s;
    -moz-animation-duration: 0.9s;
    animation-duration: 0.9s;
}

.fade-in.one {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.fade-in.two {
    -webkit-animation-delay: 0.45s;
    -moz-animation-delay: 0.45s;
    animation-delay: 0.45s;
}

.fade-in.three {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}


/* ----end ---- */

/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #060413;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}